[submodule "build-tools"]
	path = build-tools
	url = ../build-tools.git
[submodule "lib/common-rtl"]
	path = lib/common-rtl
	url = ../common-rtl.git
[submodule "qrem-docs"]
	path = qrem-docs
	url = git@github.com:QREM-CORE/qrem-docs.git
